.corruption-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 50vh;
  margin: 1rem 0;
  border-top: solid lightgrey 1px;
  padding-top: 0rem;
}

.corruption-chart {
  margin: 7rem 0rem 0rem 0;
  width: 80vh;
}
.corruption-container_info > img {
  height: 5rem;
}

.corruption-container_info {
  margin: 14rem 5rem 0 0;
  width: 60vh;
  height: 60vh;
  align-self: center;
  overflow: hidden;
}

.corruption-container_info p {
  overflow: hidden;
}
