* {
  box-sizing: border-box;
}
.contain {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  height: 50vh;
  margin: 3rem 0;
  border-top: solid lightgrey 1px;
  padding-top: 3rem;
}

.gdp-chart {
  margin: 0rem 1rem 0 4rem;
  width: 50vh;
}

.contain_info > img {
  height: 5rem;
}

.contain_info {
  margin: 0 4rem 0 0;
  width: 60vh;
  height: 50vh;
  overflow: hidden;
}
