.social-container {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  height: 50vh;
  margin: 5rem 0;
  border-top: solid lightgrey 1px;
  padding-top: 3rem;
}

.social-chart {
  margin: 5rem 5rem 0 0;
  width: 60vh;
}
.social-container_info > img {
  height: 5rem;
}

.social-container_info {
  margin: 1rem 1rem 0rem 5rem;
  width: 70vh;
  height: 30vh;
  align-self: center;
}
